src/main/mule/demo-timezone-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="14f6ff3b-47b8-4ffb-87f7-6e48414f1758" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8086" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="3de0a5f7-0528-4930-b7ae-a6f6ea39abd2" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org"/>
	</http:request-config>
	<flow name="demo-timezone-apiFlow" doc:id="1beabba2-bec2-4e06-b1f4-2edf9fae0bd3" >
		<http:listener doc:name="Listener" doc:id="ffdd8101-1c7c-4733-a84d-b1746cd490d6" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="e55f19c4-e6a5-4a5e-87b1-f86a15cbdea4" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="c4835428-af12-4e05-8462-4599de3ffdba" message="world timezone success response"/>
	</flow>
</mule>
